-
    const defaultStoryCardProps = {
        classes: '',
        img: '',
        video: '',
        title: '',
        tags: [
            ''
        ],
    }

mixin story-card(props = defaultCatalogCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCatalogCardProps.classes,
            img: props.img ? props.img : defaultCatalogCardProps.img,
            video: props.video ? props.video : defaultCatalogCardProps.video,
            title: props.title ? props.title : defaultCatalogCardProps.title,
            tags: props.tags ? props.tags : defaultCatalogCardProps.tags,
        }

    .story-card(class=checkProps.classes)&attributes(attributes)
        a(href=checkProps.video data-fancybox='stories' data-thumb=checkProps.img).story-card__link

        .story-card__bg
            img(class="lazyload" src="" data-src=checkProps.img alt="")

        .story-card__content
            .story-card__tags
                - let count = 0
                - while(count < checkProps.tags.length)
                    - let tag = checkProps.tags[count]
                    .story-card__tag!= tag
                    - count++
            .btn.btn--icon.btn--white.story-card__play
                svg
                    use(xlink:href=`img/sprites/sprite.svg#play`)

            .story-card__title!= checkProps.title



