-
    const defaultQuickAppProps = {
        classes: '',
        imgWidth: '388',
        topOffset: '-19%',
        img: 'img/catalog/questions.webp',
        imgTop: 'img/catalog/questions_top.webp'
    }

mixin quick-app(props= defaultQuickAppProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultQuickAppProps.classes,
            imgWidth: props.imgWidth ? props.imgWidth : defaultQuickAppProps.imgWidth,
            topOffset: props.topOffset ? props.topOffset : defaultQuickAppProps.topOffset,
            img: props.img ? props.img : defaultQuickAppProps.img,
            imgTop: props.imgTop ? props.imgTop : defaultQuickAppProps.imgTop,
        }

    section.section.quick-app(class= checkProps.classes)&attributes(attributes)
        .section__container.section__content
            .quick-app__container
                .quick-app__block
                    .quick-app__content
                        block
                .quick-app__media
                    .quick-app__img(style=`top: ${checkProps.topOffset};`)
                        picture
                            // тут вписываем картинку шириной 70% от исходной
                            source(width=checkProps.imgWidth*0.7 srcset=checkProps.imgTop media="(max-width: 1420px)")
                            img(width=checkProps.imgWidth src=checkProps.imgTop alt="")
                    .quick-app__mask
                        .quick-app__svg.quick-app__svg--1
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#one`)
                        .quick-app__svg.quick-app__svg--2
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#lightning`)

                        picture
                            // тут вписываем картинку шириной 70% от исходной
                            source(width=checkProps.imgWidth*0.7 srcset=checkProps.img media="(max-width: 1420px)")
                            img(width=checkProps.imgWidth src=checkProps.img alt="")
