-
    const defaultFieldRangeProps = {
        classes: '',
        min: '100000',
        max: '50000000',
        step: '100000'
    }

mixin field-range(props = defaultFieldRangeProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFieldRangeProps.classes,
            min: props.min ? props.min : defaultFieldRangeProps.min,
            max: props.max ? props.max : defaultFieldRangeProps.max,
            step: props.step ? props.step : defaultFieldRangeProps.step,

        }

    .field-range(class=checkProps.classes data-js="fieldRange" data-min=checkProps.min data-max=checkProps.max data-step=checkProps.step)
        input.field-range__input.field-range__input--min(type='number' min=checkProps.min max=checkProps.max data-js="fieldRangeMin")
        input.field-range__input.field-range__input--max(type='number' min=checkProps.min max=checkProps.max data-js="fieldRangeMax")
        .field-range__range(data-js="fieldRangeSlider")



